{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "camelcase":"off",
    "unicorn/no-abusive-eslint-disable": "off",
  }
}
