*-debug.log
*-error.log
.oclif.manifest.json
/packages/**/oclif.manifest.json
/cli
/.nyc_output
/coverage
/dist
/lib
node_modules
/tmp
/packages/cli/docs/*

**/.DS_Store
.idea
.vscode
**/.nyc_output
**/coverage/
.pnp.*
# Ignore .yarn directory from previous yarn setup
.yarn/

# TEMP
/packages/**/converted/*
tpsGetLock_response.txt
tpsRecordRelease_response.txt
