*-debug.log
*-error.log
oclif.manifest.json
/cli
/.nyc_output
/coverage
/dist
/lib
node_modules
/tmp

**/.DS_Store
.idea
.vscode
npm-shrinkwrap.json

# Ignore .yarn directory from previous yarn setup
.yarn/
yarn.lock

# TEMP
tpsGetLock_response.txt
tpsRecordRelease_response.txt
