*-debug.log
*-error.log
.oclif.manifest.json
/packages/**/oclif.manifest.json
/cli
/coverage
/dist
/lib
node_modules
/package-lock.json
/tmp
/packages/cli/docs/*

**/.DS_Store
.idea
.vscode
**/.nyc_output

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# TEMP
/packages/**/converted/*
tpsGetLock_response.txt
