---
defaults: &defaults
  working_directory: /cli
  environment:
    HEROKU_AUTHOR: Heroku
  docker:
    - image: oclif/nsis:0.0.2-9.11.1
      environment: &env
        NPM_CONFIG_REGISTRY: https://cli-npm.heroku.com
        LANG: en_US.UTF-8
        LANGUAGE: en_US.UTF-8
        LC_TYPE: en_US.UTF-8

version: 2
executorType: docker
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: &yarn_restore_cache
          keys:
            - v2-yarn-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}
            - v2-yarn-{{ checksum ".circleci/config.yml" }}
            - v2-yarn
      - run: yarn global add greenkeeper-lockfile@1 && greenkeeper-lockfile-update
      - run: yarn
      - run: yarn test
      - run: greenkeeper-lockfile-upload
      - run: curl -s https://codecov.io/bash | bash
  release:
    <<: *defaults
    steps:
      - add_ssh_keys
      - checkout
      - run: yarn
      - run: ./scripts/release/tarballs
      - save_cache:
          key: v2-yarn-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}
          paths:
            - /cli/node_modules
            - /cli/tmp/cache
            - /usr/local/share/.cache/yarn
  release_win:
    <<: *defaults
    steps:
      - add_ssh_keys
      - checkout
      - run: yarn
      - run: ./scripts/release/win
  release_deb:
    <<: *defaults
    steps:
      - add_ssh_keys
      - checkout
      - run: yarn
      - run: ./scripts/release/deb
  postrelease:
    <<: *defaults
    steps:
      - run: aws cloudfront create-invalidation --distribution-id "$CLOUDFRONT_DISTRIBUTION" --paths "/*"
      # - run: ./scripts/release/_github_setup
      # - run: {command: "./scripts/release/homebrew", when: always}
      # - run: {command: "./scripts/release/macos_installer_trigger", when: always}
  dev_center_docs:
    docker: &devdocs_docker
      - image: rasphilco/cli-engine-devcenter:v0.1.0
        environment:
          NPM_CONFIG_REGISTRY: https://cli-npm.heroku.com
          LANG: en_US.UTF-8
          LANGUAGE: en_US.UTF-8
          LC_TYPE: en_US.UTF-8
          LC_ALL: C.UTF-8
    steps:
      - type: checkout
      - run: ./scripts/release/dev_center_docs
      - store_artifacts:
          path: /tmp/heroku-cli-commands-test.md
workflows:
  version: 2
  heroku_cli:
    jobs:
      - test:
          filters: &all_pushes
            tags: &version_tags
              only: /^v.*/
      - release: &release_workflow
          filters:
            tags: *version_tags
            branches:
              only:
                - master
                - dev
                - oclif
          requires:
            - test
      - release_deb: *release_workflow
      - release_win: *release_workflow
      - postrelease:
          requires:
            - release
            - release_deb
            - release_win
      - dev_center_docs:
          requires:
            - test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
