---
defaults: &defaults
  working_directory: /cli
  environment:
    HEROKU_AUTHOR: Heroku
  docker:
    - image: oclif/nsis:12.0.0-16
      environment: &env
        LANG: en_US.UTF-8
        LANGUAGE: en_US.UTF-8
        LC_TYPE: en_US.UTF-8
        NODE_OPTIONS: --max_old_space_size=4096

version: 2.1
orbs:
  win: circleci/windows@2.4.0
executorType: docker
jobs:
  windows-test:
    executor: win/default
    steps:
      - checkout
      - run:
          name: Install latest yarn
          command: |
            (New-Object Net.WebClient).DownloadFile("https://yarnpkg.com/latest.msi", "$env:temp\yarn.msi")
            cmd /c start /wait msiexec.exe /i $env:temp\yarn.msi /quiet /qn /norestart /log install.log
      - run:
          name: Verify yarn installation
          command: |
            if (!(Test-Path -Path "C:\Program Files (x86)\Yarn\bin\yarn" -PathType Leaf)) {
              Write-Host "> Installation failed." -ForegroundColor Red
              Write-Host "" -ForegroundColor Red
              exit 1
            }
      - restore_cache:
          keys:
            - node-modules-v1-win-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install
      - save_cache:
          paths:
            - ./node_modules
          key: node-modules-v1-win-{{ checksum "yarn.lock" }}
      - run:
          name: Test and Lint
          command: yarn test
  node12-test: &test
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - restore_cache: &yarn_restore_cache
          keys:
            - v4-yarn-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}
            - v4-yarn-{{ checksum ".circleci/config.yml" }}
            - v4-yarn
      - run:
          name: Installing bats
          command: |
            git clone https://github.com/sstephenson/bats.git
            cd bats
            ./install.sh /usr/local
      - run:
          name: Installing dependencies
          command: yarn
      - run:
          name: heroku whoami
          command: ./bin/run whoami
      - run:
          name: Running all tests
          command: yarn test
      - run:
          name: Uploading code coverage to codecov
          command: ./node_modules/.bin/lerna exec "curl -s https://codecov.io/bash | bash"
  node10-test:
    <<: *test
    docker:
      - image: heroku/nsis:10-2
    resource_class: large
  release_tarballs:
    <<: *defaults
    steps:
      - add_ssh_keys
      - checkout
      - run: |
          cp yarn.lock packages/cli
          cd packages/cli
          yarn
          ./scripts/release/tarballs
          ./scripts/release/homebrew
      - save_cache:
          key: v4-yarn-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}
          paths:
            - /cli/node_modules
            - /cli/tmp/cache
            - /usr/local/share/.cache/yarn
  release_win:
    <<: *defaults
    steps:
      - checkout
      - run: |
          cp yarn.lock packages/cli
          cd packages/cli
          yarn
          ./scripts/release/win
  release_deb:
    <<: *defaults
    steps:
      - checkout
      - run: |
          cp yarn.lock packages/cli
          cd packages/cli
          yarn
          ./scripts/release/deb
  trigger_macos:
    <<: *defaults
    steps:
      - add_ssh_keys
      - checkout
      - run: yarn
      - run: ./scripts/release/macos_installer_trigger
  # release_homebrew:
  #   <<: *defaults
  #   steps:
  #     - add_ssh_keys
  #     - checkout
  #     - run: |
  #         cp yarn.lock packages/cli
  #         cd packages/cli
  #         yarn
  #         ./scripts/release/homebrew
  invalidate_cdn_cache:
    <<: *defaults
    steps:
      - checkout
      - run: yarn
      - run: ./scripts/postrelease/invalidate_cdn_cache
  install_scripts:
    <<: *defaults
    steps:
      - checkout
      - run: yarn
      - run: ./scripts/postrelease/install_scripts
  change_management:
    <<: *defaults
    steps:
      - checkout
      - run: |
          yarn
          ./scripts/postrelease/change_management
  dev_center_docs:
    docker: &devdocs_docker
      - image: heroku/devcenter
        environment:
          LANG: en_US.UTF-8
          LANGUAGE: en_US.UTF-8
          LC_TYPE: en_US.UTF-8
          LC_ALL: C.UTF-8
    steps:
      - checkout
      - run: cd packages/cli && ./scripts/postrelease/dev_center_docs
      - store_artifacts:
          path: /tmp/heroku-cli-commands.md
  snap:
    docker:
      - image: snapcore/snapcraft:stable
        environment:
          LC_ALL: C.UTF-8
    steps:
      # the snapcraft image does not include git
      - run: apt-get -qq update; apt-get -y install git
      - checkout
      - run: ./scripts/snap
workflows:
  version: 2
  heroku_cli:
    jobs:
      - windows-test:
          filters:
            tags: &version_tags
              only: /^v.*/
      - node12-test:
          filters:
            tags: &version_tags
              only: /^v.*/
      - node10-test:
          filters:
            tags:
              <<: *version_tags
      - release_tarballs: &release_tarballs
          filters:
            tags: 
              <<: *version_tags
            branches:
              only:
                - master
                - dev
          requires:
            - node12-test
            - node10-test
      - release_deb: *release_tarballs
      - release_win: *release_tarballs
      # - release_homebrew: *release_tarballs
      - trigger_macos: *release_tarballs
      - invalidate_cdn_cache:
          requires:
            - release_tarballs
            - release_deb
            - release_win
          filters:
            tags: 
              <<: *version_tags
            branches:
              only:
                - master
                - dev
      - install_scripts:
          requires:
            - release_tarballs
            - release_deb
            - release_win
          filters:
            branches:
              ignore: /.*/
            tags:
              <<: *version_tags
      - change_management:
          requires:
            - release_tarballs
            - release_deb
            - release_win
          filters:
            branches:
              ignore: /.*/
            tags:
              <<: *version_tags
      - dev_center_docs:
          requires:
            - release_tarballs
            - release_deb
            - release_win
          filters:
            branches:
              ignore: /.*/
            tags:
              <<: *version_tags
  nightly:
    triggers:
      - schedule:
          cron: "0 8,20 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - snap
