name: Invalidate CDN cache

on:
  [workflow_call, workflow_dispatch]

jobs:
  invalidate-cdn-cache:
    runs-on: ubuntu-latest
    env:
      CLOUDFRONT_DISTRIBUTION: ${{ secrets.CLOUDFRONT_DISTRIBUTION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_EC2_METADATA_DISABLED: true
    steps:
      - uses: actions/checkout@v4
      - run: aws configure set preview.cloudfront true
      - run: ./scripts/postrelease/invalidate_cdn_cache
