name: ctc

on:
  workflow_dispatch:
  workflow_call:

jobs:
  # Use TPS service to get clearance to release from Salesforce Change-Traffic-Control:
  # https://github.com/heroku/tps/blob/master/docs/ctc.md
  check-tps-for-lock:
    runs-on: ubuntu-latest
    environment: ChangeManagement
    steps:
      - uses: actions/checkout@v3
      - name: Check tps.heroku.tools for lock
        id: check-lock
        run: |
          STATUS_CODE="$(curl --w '%{http_code}' \
            -X PUT \
            -H "Accept: application/json" \
            -H "Content-Type: application/json" \
            -H "Authorization: Token ${{ secrets.TPS_API_TOKEN_PARAM }}" \
            -d '{"lock": {"sha": "${{ github.sha }}", "app_id": "${{ secrets.TPS_API_APP_ID }}"}}' \
            https://tps.heroku.tools/api/ctc)"

          echo "Response status code is $STATUS_CODE."
          echo "STATUS_CODE=$STATUS_CODE" >> $GITHUB_ENV

      - name: Retry if lock cannot be obtained
        id: retry-lock
        env:
          RETRY_LATER: "409"
        uses:
          nick-fields/retry@v2
        if: ${{ env.STATUS_CODE == env.RETRY_LATER}}
        with:
          max_attempts: 15
          warning_on_retry: true
          retry_wait_seconds: 3600
          retry_on_exit_code: 1
          timeout_minutes: 3600
          command: |
            STATUS_CODE="$(curl --w '%{http_code}' \
              -X PUT \
              -H "Accept: application/json" \
              -H "Content-Type: application/json" \
              -H "Authorization: Token ${{ secrets.TPS_API_TOKEN_PARAM }}" \
              -d '{"lock": {"sha": "${{ github.sha }}", "app_id": "${{ secrets.TPS_API_APP_ID }}"}}' \
              https://tps.heroku.tools/api/ctc)"

            echo "Response status code is $STATUS_CODE"
            if [ $STATUS_CODE == "409" ]
            then
              exit 1
            else
              echo "STATUS_CODE=$STATUS_CODE" >> $GITHUB_ENV
            fi

      - name: Verify lock status
        id: verify-lock
        env:
          UPDATE_LOCK_SUCCESS: "200"
          NEW_LOCK_SUCCESS: "201"
        if: ${{ env.STATUS_CODE != env.NEW_LOCK_SUCCESS && env.STATUS_CODE != env.UPDATE_LOCK_SUCCESS}}
        uses: actions/github-script@v6
        with:
          script: |
              core.setFailed("Failed to create CTC lock with TPS with response code ${{ env.STATUS_CODE }}")
