name: Update CLI Command DevCenter Documentation

on:
  workflow_dispatch:
  workflow_call:

jobs:
  update-devcenter-command-docs:
    name: Update Devcenter command docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - name: Install Ruby
        uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
        with:
          ruby-version: '3.1'
      - name: Install package deps
        run: yarn --immutable --network-timeout 1000000
      - name: Install Devcenter CLI
        run: |
          gem install devcenter
          devcenter help
