name: Update CLI Command DevCenter Documentation

on:
  workflow_dispatch:
    inputs:
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false
  workflow_call:
    inputs:
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false

jobs:
  update-devcenter-command-docs:
    name: Update Devcenter command docs
    runs-on: ubuntu-latest
    if: ${{ fromJSON(inputs.isStableRelease) }}
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: npm
      - name: Use Ruby 3.2.x
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - name: Install package deps
        run: npm ci
      - name: Install Devcenter CLI
        run: |
          gem install devcenter
          devcenter help
      - name: Build CLI
        run: npm run build
      - name: Compile documentation and push to devcenter
        run: ./scripts/postrelease/dev_center_docs
        env:
          HEROKU_DEVCENTER_API_KEY: ${{ secrets.HEROKU_DEVCENTER_API_KEY }}
