name: Update CLI Command DevCenter Documentation

on:
  workflow_dispatch:
    inputs:
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false
  workflow_call:
    inputs:
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false

jobs:
  update-devcenter-command-docs:
    name: Update Devcenter command docs
    runs-on: ubuntu-latest
    if: ${{ fromJSON(inputs.isStableRelease) }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: yarn
      - name: Install package deps
        run: yarn --immutable --network-timeout 1000000
      - name: Install Devcenter CLI
        run: |
          gem install devcenter --user-install
          export PATH="$PATH:$HOME/.local/share/gem/ruby/3.2.0/bin"
          devcenter help
      - name: Build CLI
        run: yarn build
      - name: Configure Heroku user
        env:
          HEROKU_DEVCENTER_API_KEY: ${{ secrets.HEROKU_DEVCENTER_API_KEY }}
        run: |
          set +x
          cat << EOF > ~/.netrc
          machine api.heroku.com
            login heroku-cli@salesforce.com
            password $HEROKU_DEVCENTER_API_KEY
          EOF
          chmod 0600 ~/.netrc
          set -ex

          export PATH="./node_modules/.bin:./bin:$PATH"
      - name: Generate and format docs
        run: |
          export COLUMNS=80
          cat <<EOF > README.md
          ---
          title: Heroku CLI Commands
          id: 4088


          These are the help texts for each of the core Heroku CLI commands. You can also see this text in your terminal with \`heroku help\`, \`heroku --help\`, or \`heroku -h\`.

          <!-- commands -->
          EOF
          yarn oclif readme --no-aliases
          grep -v "^\\* \\[\`" README.md | grep -v "^<!--" | sed "s/^## \`/### \`/g" > /tmp/heroku-cli-commands.md
      - name: Push docs to Devcenter
        run: |
          devcenter push /tmp/heroku-cli-commands.md --trace
