name: Update CLI Command DevCenter Documentation

on:
  workflow_dispatch:
    inputs:
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false
  workflow_call:
    inputs:
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false

jobs:
  update-devcenter-command-docs:
    name: Update Devcenter command docs
    runs-on: ubuntu-latest
    if: ${{ fromJSON(inputs.isStableRelease) }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 16.x
        uses: actions/setup-node@v4
        with:
          node-version: 16.x
          cache: yarn
      - name: Install package deps
        run: yarn --immutable --network-timeout 1000000
      - name: Install Devcenter CLI
        run: |
          gem install devcenter --user-install
          export PATH="$PATH:$HOME/.local/share/gem/ruby/3.2.0/bin"
          devcenter help
      - name: Build CLI
        run: yarn build
      - name: Compile documentation and push to devcenter
        run: |
          cd packages/cli
