name: Promote and Release

on:
  workflow_call:
    inputs:
      version:
        description: version to promote to latest
        type: string
        required: true
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false

  workflow_dispatch:
    inputs:
      version:
        description: version to promote to latest
        type: string
        required: true
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false

jobs:
  promote:
    uses: ./.github/workflows/promote.yml
    with:
        version: ${{ inputs.version }}
        isStableRelease: ${{ fromJSON(inputs.isStableRelease) }}
    secrets: inherit

  ## POST release jobs
  invalidate-cdn-cache:
    needs: [ promote ]
    runs-on: ubuntu-latest
    env:
      CLOUDFRONT_DISTRIBUTION: ${{ secrets.CLOUDFRONT_DISTRIBUTION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_EC2_METADATA_DISABLED: true
    steps:
      - uses: actions/checkout@v3
      - run: |
          sudo apt-get update
          sudo apt-get install -y awscli
          aws configure set preview.cloudfront true
      - run: ./scripts/postrelease/invalidate_cdn_cache

  release-homebrew:
    needs: [ invalidate-cdn-cache ]
    if: fromJSON(inputs.isStableRelease)
    uses: ./.github/workflows/release-homebrew.yml
    secrets: inherit

  change-management:
    needs: [ promote ]
    if: fromJSON(inputs.isStableRelease)
    runs-on: ubuntu-latest
    environment: ChangeManagement
    env:
      TPS_API_APP_ID: ${{ secrets.TPS_API_APP_ID }}
      TPS_API_RELEASE_ACTOR_EMAIL: ${{ secrets.TPS_API_RELEASE_ACTOR_EMAIL }}
      TPS_API_STAGE: ${{ secrets.TPS_API_STAGE }}
      TPS_API_TOKEN_PARAM: ${{ secrets.TPS_API_TOKEN_PARAM }}
      TPS_API_URL_PARAM: ${{ secrets.TPS_API_URL_PARAM }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          yarn --frozen-lockfile --network-timeout 1000000
          ./scripts/postrelease/change_management
