name: Promote in S3

on:
  workflow_call:
    inputs:
      version:
        description: version to promote to latest
        type: string
        required: true
      channel:
        description: dev, beta or stable release
        type: string
        required: true

  workflow_dispatch:
    inputs:
      version:
        description: version to promote to latest
        type: string
        required: true
      channel:
        description: dev, beta or stable release
        type: string
        required: true

jobs:
  promote:
    name: Promote ${{ inputs.version }} to ${{ inputs.channel }}
    runs-on: ubuntu-latest
    env:
      CLOUDFRONT_DISTRIBUTION: ${{ secrets.CLOUDFRONT_DISTRIBUTION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_EC2_METADATA_DISABLED: true
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - run: yarn --frozen-lockfile --network-timeout 1000000
      - name: install AWS cli
        run: |
          sudo apt-get update
          sudo apt-get install -y awscli
      - name: promote
        run: yarn oclif promote --deb --xz --root="./packages/cli" --indexes --version=${{ inputs.version }} --sha=`git rev-parse --short=7 HEAD` --channel=${{ inputs.channel }}
      - name: promote Linux install scripts
        run: node ./scripts/postrelease/install_scripts.js
