name: Promote and Release

on:
  workflow_call:
    inputs:
      version:
        description: version to promote to latest
        type: string
        required: true
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false
      channel:
        type: string
        description: Release channel for prereleases
        required: false

  workflow_dispatch:
    inputs:
      version:
        description: version to promote to latest
        type: string
        required: true
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false
      channel:
        type: string
        description: Release channel for prereleases
        required: false

jobs:
  promote:
    uses: ./.github/workflows/promote.yml
    with:
        version: ${{ inputs.version }}
        isStableRelease: ${{ fromJSON(inputs.isStableRelease) }}
        channel: ${{ inputs.channel }}
    secrets: inherit

  ## POST release jobs
  invalidate-cdn-cache:
    name: Invalidate CDN cache
    needs: [ promote ]
    uses: ./.github/workflows/cache-invalidation.yml
    secrets: inherit

  release-homebrew:
    needs: [ invalidate-cdn-cache ]
    if: fromJSON(inputs.isStableRelease)
    uses: ./.github/workflows/release-homebrew.yml
    secrets: inherit

  change-management:
    needs: [ promote ]
    if: fromJSON(inputs.isStableRelease)
    uses: ./.github/workflows/tps-record-release.yml
    secrets: inherit
    with:
      isStableCandidate: ${{ fromJSON(inputs.isStableRelease) }}

  create-fig-autocomplete-pr:
    if: fromJSON(inputs.isStableRelease)
    secrets: inherit
    ## Calls publish-to-fig-autocomplete workflow during post release jobs
    uses: ./.github/workflows/publish-to-fig-autocomplete.yml
