name: Publish NPM

on:
  workflow_dispatch:
    inputs:
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false
      channel:
        type: choice
        description: If this is a prerelease, is it alpha or beta?
        options:
          - alpha
          - beta
        required: false
  workflow_call:
    inputs:
      isStableRelease:
        type: boolean
        description: Is this a stable/prod release?
        required: true
        default: false
      channel:
        type: string
        description: Release channel for prereleases
        required: false

jobs:
  publish-npm:
    # pub-hk-ubuntu-22.04- due to IP allow list issues with public repos: https://salesforce.quip.com/bu6UA0KImOxJ
    runs-on: pub-hk-ubuntu-22.04-small
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: yarn
      - run: yarn --immutable --network-timeout 1000000
      - name: set NPM auth
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_PUBLISH_KEY }}" > ~/.npmrc
      - name: Publish to NPM
        run: |
          if ${{ fromJSON(inputs.isStableRelease) }}
          then
            yarn lerna publish --yes from-package
          else
            yarn lerna publish --dist-tag ${{ inputs.channel || 'beta' }} --yes from-package
          fi
        shell: bash
