name: Create Github Release & Tag

on:
  workflow_dispatch:
    inputs:
      isProdRelease:
        type: boolean
        description: Is this a production release?
        required: true
        default: false
  workflow_call:
    inputs:
      isProdRelease:
        type: boolean
        description: Is this a production release?
        required: true
        default: false

jobs:
  tag-and-create-gh-release:
    # pub-hk-ubuntu-22.04- due to IP allow list issues with public repos: https://salesforce.quip.com/bu6UA0KImOxJ
    runs-on: pub-hk-ubuntu-22.04-small
    steps:
      - uses: actions/checkout@v3
        with:
          # fetch entire repo, not just this branch. Tags & commits are needed for release notes
          fetch-depth: 0
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - run: yarn --frozen-lockfile --network-timeout 1000000
      - name: set git user
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "heroku-front-end+npm-releases@salesforce.com"
      - name: Create & Push Git Tag
        run: ./scripts/create-git-tag-and-push
        shell: bash
      - name: Release to Github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # the script below will fail if run from a separate shell file
        run: |
          PACKAGE_VERSION=$(node -e "console.log(require('./lerna.json').version)")
          echo $PACKAGE_VERSION
          TAG_NAME="v${PACKAGE_VERSION}"
          SORTED_TAGS=$(git tag --sort="-version:refname" --list --format="%(refname:strip=2)")
          FILTERED_TAGS=$(echo "${SORTED_TAGS}" | grep 'v[0-9.]*' | grep -v '-')
          LAST_PUBLISHED_TAG=$(echo "${FILTERED_TAGS}" | head -n1)
          echo $LAST_PUBLISHED_TAG
          RELEASE_NOTES=$(git log --graph --format="%h %s" "${LAST_PUBLISHED_TAG}..${TAG_NAME}~1")

          gh release create "${TAG_NAME}" --title="${TAG_NAME}" --notes="${RELEASE_NOTES}"
        shell: bash

