name: Test installed CLI

on:
  workflow_call:
    inputs:
      version:
        description: version to test
        type: string
        required: true
  workflow_dispatch:
    inputs:
      version:
        description: version to test
        type: string
        required: true

jobs:
  test-installed-cli:
    runs-on: pub-hk-ubuntu-22.04-small
    environment: AcceptanceTests
    env:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
      - name: install latest heroku
        run: curl https://cli-assets.heroku.com/install.sh | sh
        shell: bash
      - name: updating to heroku version ${{ inputs.version }}
        id: current-cli-version
        run: heroku update beta && version=$(heroku version | grep -Eo '[0-9]+\.[0-9]+\.[0-9]+-beta\.[0-9]+')
      - name: check version ${{ inputs.version }} exists
        if: ${{ inputs.version }} == ${{ steps.current-cli-version.outputs.version }}
        run: heroku version
        shell: bash
      - name: test release
        run: ./scripts/postrelease/test_release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_KEY }}
